.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.text {
  font-weight: 900;
  padding: 10px;
  color: #443030;
  font-size: 3rem;
}

.button-container {
  display: flex;
  flex-direction: column;
}
